
<section *ngIf="roleCreateForm">
    <div class="columns">
        <div class="column">
            <form [formGroup]="roleCreateForm" (ngSubmit)="create()" >
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input 
                           type="text" 
                           class="input" 
                           placeholder="Enter role's name... "
                           formControlName = "name"/>
                    </div>
                </div>


                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <input 
                            type="text" 
                            class="input" 
                            placeholder="Enter role's description.. "
                            formControlName = "description"/>
                    </div>
                </div>

                <button type="submit" class="button is-primary"  [disabled]="!roleCreateForm.valid" >Create</button>



                


            </form>
        </div>
    </div>
</section>