<app-products-header (columnsCountChange)="onColumnsCountChange($event)" ></app-products-header>
<mat-grid-list
    *ngIf="products && products.length"
    gutterSize="16"
    [cols]="cols"
    [rowHeight]="rowHeight"
>
    <mat-grid-tile *ngFor="let product of products"  >
        <app-product-box 
            (addToCart)="onAddToCart($event)"
            style="width: 100%;"
            [fullWidthMode]="cols===1"
            [product]="product"
          >
        </app-product-box>
    </mat-grid-tile>
   

</mat-grid-list>