
<section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h2 class="title is-2">Contact Us</h2>
          <p>Please feel free to reach out to us using the following contact information:</p>
  
          <div class="content">
            <p><strong>Phone:</strong> (123) 456-7890</p>
            <p><strong>Email:</strong> info@kocats.com</p>
            <p><strong>Address:</strong> CQFC+X5V, Kotor</p>
          </div>
  
          <div class="field is-grouped">
            <div class="control">
              <a href="#" class="button is-link">
                <span class="icon">
                  <i class="fab fa-facebook"></i>
                </span>
                <span>Facebook</span>
              </a>
            </div>
            <div class="control">
              <a href="#" class="button is-link">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>Twitter</span>
              </a>
            </div>
            <div class="control">
              <a href="#" class="button is-link">
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span>
                <span>Instagram</span>
              </a>
            </div>
          </div>
        </div>
  
        <div class="column">
          <h2 class="title is-2">Visit Us</h2>
          <p>Our museum is open for visitors on the following days and times:</p>
  
          <div class="content">
            <p><strong>Monday-Friday:</strong> 10am-6pm</p>
            <p><strong>Saturday:</strong> 12pm-4pm</p>
            <p><strong>Sunday:</strong> Closed</p>
          </div>
        </div>
      </div>
    </div>
  </section>