

<br>


<div class="columns">
    <div class="column is-half ">
        <form #loginForm = "ngForm" (ngSubmit)="onLogin(loginForm)">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" 
                           type="text" 
                           placeholder="Enter username..." 
                           name="username"
                           ngModel />
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" 
                           type="password" 
                           placeholder="Enter password..." 
                           name="password"
                           ngModel />
                </div>
            </div>

            <button class="button is-primary" type="submit" > Login</button>
        </form>

        <p class="help is-danger" *ngIf="er===1"> Incorrect password or username </p>
    </div>
</div>