<section *ngIf="productCreateForm">
    <div class="columns">
        <div class="column">
            <form [formGroup]="productCreateForm" (ngSubmit)="create()" >
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input 
                           type="text" 
                           class="input" 
                           placeholder="Enter product's name... "
                           formControlName = "name"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <input 
                           type="text" 
                           class="input" 
                           placeholder="Enter product's description.. "
                           formControlName = "description"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Price</label>
                    <div class="control">
                        <input 
                           type="number" 
                           class="input" 
                           placeholder="Enter product's price "
                           formControlName = "price"/>
                    </div>
                </div>

                <button type="submit" class="button is-primary"  [disabled]="!productCreateForm.valid" >Create</button>


            </form>
        </div>
    </div>
</section>