<section *ngIf="createCatForm">
    <div class="columns">
        <div class="column">
            <form [formGroup]="createCatForm" (ngSubmit)="create()"> 
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input 
                           type="text" 
                           class="input" 
                           placeholder="Enter cat's name... "
                           formControlName = "name"/>
                    </div>
                
                </div>

                <div class="field">
                    <label class="label">Gender</label>
                    <select id="gender" name="gender" class="control" formControlName="gender">
                    <option value="" disabled selected>Select gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    </select>
                </div>

                <div class="field">
                    <label class="label">Year it was born</label>
                    <div class="control">
                        <input 
                           type="number" 
                           class="input" 
                           placeholder="Enter the year the cat was born... "
                           formControlName = "yearBorn"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Breeds</label>
                    <div class="control">
                        <div class="select is-multiple">
                            <select multiple formControlName = "breeds" >
                                <option *ngFor="let breed of breeds" [value]="breed"> {{breed.name}} </option>
                            </select>
                        </div>
                    </div>
                </div>
                    

                <button type="submit" class="button is-primary"  [disabled]="!createCatForm.valid" >Create</button>

            </form>
        </div>
    </div>
</section>